.hero {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding-top: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    height: 55rem;
    justify-content: center;
}

.hero-main {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10rem;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 4rem;
    line-height: 1.2;
    margin: 2rem 0;
}

.hero-text p {
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-text span {
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
    position: relative;
}

.hero-text span a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: .3s ease-in-out;
}

.hero-text span a::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    background-color: green;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.hero-text span a:hover::before {
    transform: scale(1);
}

.hero-text span a:hover {
    color: #fff;
}

.hero-img {
    background-image: url(../assets/img/heroImg.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 'cover';
    border: 0px solid #2d2e32;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 300px;
    width: 300px;

}

.skills {
    display: flex;
    align-items: center;

}

.skills p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li {
    cursor: pointer;
    transition: .3s;
}

.skills ul li:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 950px) {
    .hero {
        height: auto;
        padding: 8rem 0 5rem 0;
    }

    .content {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }

    .hero-text span {
        gap: 1.6rem;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .skills {
        flex-direction: column;
        position: static;
    }

    .skills ul {
        display: flex;
        justify-content: center;
    }

    .skills p {
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 2rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }
}