/************ Custom Font ************/
@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 4rem;
}

body {
  background-color: #fff;
  scroll-padding-top: 75px;
  scroll-behavior: smooth;
}

h1, h4, p,
a {
  color: #000;
  text-decoration: none;
}

li:hover{
  color: rgba(20, 67, 155, 0.067)
}

ul {
  list-style-type: none;
}

/************ Custom scrollbar ************/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: #8e8e8e;
}












